

.create-project-form {
  margin: 0 auto; /* horizon-center */
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 0 50px;
  background: #fff;
  border: 1px solid black;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* mobile view */
@media screen and (max-width: 768px) {
  .create-project-form {
    margin-top: 250px; 
  }
}
.create-project-form h1{
    text-align: center;
    font-size: 2rem;
    margin: 50px auto;
    font-weight: bolder;
}

.create-project-form div label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
}
.create-project-form div input,textarea{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    width: 100%;
}

.project-form-btn{
    display: block;
    height: 30px;
    font-size: 1.2rem;
    margin-bottom: 100px;
}

.project-form-btn:hover{
    background-color: #2b2b22;
    color: white;
    
    
}




