
.navbar {
    background-color:antiquewhite;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    text-align: center; 
}

/* logo */
/* .logo-container {
    margin-bottom: 20px;
} */
.navbar-logo {
    width: 400px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}
/* button */
.nav-links ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /* button horizontal */
    gap: 10px; /* button gap */
}

/* button link */
.nav-button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px; 
    border-radius: 5px; 
    flex:1;
    min-width: 60px;
    text-align: center;
    margin-bottom: 10px;
}

/* button hover */
.nav-button:hover {
    background-color: #0056b3; 
} 