@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/* header */

.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    /* background: transparent; */
    background-color:#2b2b22;
    align-items: center;
    z-index: 100;
}
/* .logo-image{
    width:100px;
    height:100px;

} */


.logo-link {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
/* .social-media{
    margin:0 auto 0 50px;
}

.social-media a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: solid 2px #fff;
    border-radius: 6px;
    background: transparent;
    text-decoration: none;
    margin-right: 10px;
    transition:all 0.3s linear;

}
.social-media a:hover{
    background: #fff;
}

.social-media a i{
    font-size: 20px;
    color:#fff;
    transition: all 0.3s linear ;
}

.social-media a i:hover{
    color: #2b2b22;
} */

.nav-btn {
    display: inline-flex;
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

