.user-projects-container h2{
    text-align: center;
    margin: 30px auto;
}


.user-projects-info{
    display:grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    column-gap: 20px;
    row-gap: 20px;
    background-color: white;
    margin: 50px auto;
    max-width: 1200px;
}

@media screen and (max-width:768px) {
    .user-projects-info{
        display:flex;
        flex-direction: column;
    }
    
}


.user-project-btn{
    height: 30px;
    font-size: 1rem;
    margin: 20px 10px;
    padding:auto 20px;
    width: 60px;
}

.user-project-btn:hover{
    background-color: #2b2b22;
    color: white;
    
    
}